@model IEnumerable<WildlifeCreatures_Assignment3.Models.WildlifeModel>

@{
    ViewData["Title"] = "About Us"; // Set the title of the page
}

<style>
    /* Style for the main content section */
    .text-center {
        height: 80vh; /* Set height to occupy 80% of the viewport height */
        color: white; /* Set text color to white */
    }

    /* Style for list items */
    ul li {
        font-size: 20px; /* Set font size */
        text-align: left; /* Align text to the left */
    }
</style>

<body>

<div class="text-center">
    <!-- Main content section -->
    <h1 class="display-4">About Us</h1> <!-- Display large heading -->
    <h3 style="text-align: left">Group Members:</h3> <!-- Display subheading -->
    <ul>
        <!-- List of group members -->
        <li>Ashish</li>
        <li>Yuvraj Jindal</li>
        <li>Kartik</li>
        <li>Nitin Kumar</li>
    </ul>
</div>

<</body>
